body {
    margin: 0 ;
}
.main-header-title {
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    position: absolute;
    width: 205px;
    height: 54px;
    left: 215px;
    top: 512px;
    color: #FFFFFF;
    text-transform: uppercase;    
}

.main-header {
    background-image: url(../img/header-background.png);
    height: 900px;
}

.paragraf {
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    width: 317px;
    left: 215px;
    top: 582px;
    position: absolute;
    color: #FFFFFF;
}
