body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"] {
    border: 3px solid red;
}

.text-input {
    height: 20px;
    padding: 16px 32px;
    margin-right: 16px;
    border: 3px solid black;
}
